src/template/finished_pages/05_Shop.pug
extends ../extend/default

block variables
    -
        var title = 'Maija salons - shop';
        var bodyClass = 'no-preloader';
        var activeLink = 2;
        var benefitsItems = [
            {
                img: 'static/img/shop-1.png',
                title: 'Качественный материалы и проверенные бренды'
            },
            {
                img: 'static/img/shop-2.png',
                title: 'Подготовьтесь к мероприятию в одном месте'
            },
            {
                img: 'static/img/shop-3.png',
                title: 'Партнерские цены'
            },
            {
                img: 'static/img/shop-1.png',
                title: 'Подготовьтесь к мероприятию в одном месте'
            }
        ];
        var productsItems1 = [
            {
                label: 'Авторские игрушки, декор и товары для дома',
                img: 'static/img/products-1.png'
            },
            {
                label: 'Товары домашнего ухода ногтевого сервиса',
                img: 'static/img/products-2.png'
            },
            {
                label: 'Товары домашнего ухода для волос',
                img: 'static/img/products-3.png'
            }
        ];
        var productsItems2 = [
            {
                label: 'Товары домашнего ухода для лица и тела',
                img: 'static/img/products-4.png'
            },
            {
                label: 'Одежда и аксессуары',
                img: 'static/img/products-5.png'
            }
        ];

block preloader
block upButton

block main
    main(data-page='shop')

        // Intro section
        section.main_screen#main-screen
            +ornament_animation('ornament_animation-sub ornament_animation-default main_screen__ornament')
            +ornament_animation('ornament_animation-sub ornament_animation-default main_screen__ornament-1')
            +main_screen_languages('main_screen_languages--grey')
            +main_screen_socials(false, false, 'main_screen_socials--grey')
            +breadcrumbs('Магазин')
            h1.main_screen__title.default_heading.h1 Магазин
            .main_screen__text.default_text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

        // Benefits section
        section.benefits#benefits
            ul.benefits__inner.items
                each item in benefitsItems
                    li.items__item
                        .items__item-img: img(src = item.img)
                        .items__item-title #{item.title}

        // Products section
        section.products#products.js-reveal
            +section_mark('01', 'продукция', false, 'section_mark--no-animation')
            +ornament_animation('ornament_animation-sub ornament_animation-default products__ornament')
            .products__container
                .products__row
                    each item in productsItems1
                        a.products__item.js-reveal(href = '#!')
                            .products__item-img: img(src = item.img)
                            .products__item-label #{item.label}
                .products__row
                    .products__item.products__item--text.js-reveal: span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    each item in productsItems2
                        a.products__item.js-reveal(href = '#!')
                            .products__item-img: img(src = item.img)
                            .products__item-label #{item.label}

www/05_Shop.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta name="format-detection" content="telephone=no">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maija salons - shop</title>
    <meta name="theme-color" content="#000000">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="msapplication-starturl" content="/">
    <link rel="manifest" href="static/manifest.json">
    <link href="static/css/index.css" rel="stylesheet">
    <link rel="icon" href="static/favicon.png">
  </head>
  <body class="has-preloader">
    <div class="main_wrapper">
      <!-- SVG-->
      <div class="svg-container" style="position: absolute; width: 0; height: 0; overflow: hidden;">
        <svg xmlns="http://www.w3.org/2000/svg">
          <defs>
            <style/>
            <style>
              .cls-1 {
                fill: #010002
              }
            </style>
          </defs>
          <symbol id="icon-arrow-left" viewBox="0 0 34.8 60">
            <title>arrow_left</title>
            <path d="M30.9 60l3.9-4L8 30 34.8 4l-3.9-4L0 30l30.9 30z" />
          </symbol>
          <symbol id="icon-arrow-right" viewBox="0 0 34.8 60">
            <title>arrow_right</title>
            <path d="M3.9 0L0 4l26.8 26L0 56l3.9 4 30.9-30L3.9 0z" />
          </symbol>
          <symbol id="icon-decor-part1-white" viewBox="0 0 504.2 492.2">
            <style>
              .st0 {
                fill: none;
                stroke: #232020;
                stroke-miterlimit: 10
              }
            </style>
            <path stroke-miterlimit="10" class="st0" d="M252.1.6L471 123.3v245.5L252.1 491.6 33.2 368.8V123.3L252.1.6z" />
          </symbol>
          <symbol id="icon-decor-part1" viewBox="0 0 504.2 492.2">
            <style>
              .st0 {
                fill: none;
                stroke: #232020;
                stroke-miterlimit: 10
              }
            </style>
            <path stroke-miterlimit="10" class="st0" d="M252.1.6L471 123.3v245.5L252.1 491.6 33.2 368.8V123.3L252.1.6z" />
          </symbol>
          <symbol id="icon-decor-part2" viewBox="0 0 504.2 492.2">
            <style>
              .st0 {
                fill: #a7627f
              }
            </style>
            <path stroke-miterlimit="10" d="M128.2 33.5l251.5-2.1L503.6 244 376 458.7l-251.5 2.1L.6 248.2 128.2 33.5z" />
            <path stroke-miterlimit="10" d="M252.1.6L471 123.3v245.5L252.1 491.6 33.2 368.8V123.3L252.1.6z" />
          </symbol>
          <symbol id="icon-facebook" viewBox="0 0 7 14">
            <style>
              .st0 {
                fill: #1e1b1b
              }
            </style>
            <path class="st0" d="M1.5 2.7v1.9H0V7h1.5v7h3.1V7h2.1s.2-1.1.3-2.4H4.6V3c0-.2.3-.6.7-.6H7V0H4.7C1.4 0 1.5 2.4 1.5 2.7z" />
          </symbol>
          <symbol id="icon-instagram" viewBox="0 0 14 14.1">
            <style>
              .st0 {
                fill: #0d0c0c
              }
            </style>
            <path class="st0" d="M12.3 0H1.7C.8 0 0 .9 0 1.8v10.7c0 .9.8 1.6 1.7 1.6h10.6c.9 0 1.7-.7 1.7-1.6V1.8c0-.9-.7-1.8-1.7-1.8zM12 2c.3 0 .5.2.5.5V4c0 .3-.2.5-.5.5h-1.5c-.3 0-.5-.2-.5-.5V2.5c0-.3.2-.5.5-.5H12zM7 4.4c1.5 0 2.7 1.2 2.7 2.7S8.5 9.8 7 9.8 4.3 8.6 4.3 7.1C4.4 5.6 5.6 4.4 7 4.4zm5.5 7.7c0 .2-.2.4-.4.4h-10c-.2 0-.5-.2-.5-.4V6H3c-.1.5-.2.7-.2 1.1 0 2.3 1.9 4.2 4.2 4.2s4.2-1.9 4.2-4.2c0-.4-.1-.6-.2-1.1h1.4l.1 6.1z"
            />
          </symbol>
          <symbol id="icon-maija-logo" viewBox="0 0 113.8 47.3">
            <style>
              .st0 {
                fill-rule: evenodd;
                clip-rule: evenodd
              }
            </style>
            <path class="st0" d="M33.9 0c2.3 11.6 4.6 22.9 6.7 34.5h-4.3C35 27.3 33.7 20 32.5 12.8c-.6.8-.9 1.8-1.3 2.8-2.9 6.5-5.8 13.1-8.8 19.6-2.9-6.5-5.8-13.2-8.7-19.7-.4-.9-.8-1.9-1.3-2.8-1.4 7.2-2.6 14.6-4 21.8-1.4 0-3 .1-4.3 0 2.3-11.5 4.7-23 7-34.5 2 4.2 3.8 8.6 5.7 12.9 1.9 4.3 3.7 8.7 5.7 12.9C26.2 17.3 30.1 8.7 33.9 0"
            />
            <path class="st0" d="M54.2 6.3h-1c-.2-.1-.2-.4-.5-.5-.5-.2-1.2-.1-1.2.5.1.5.9.5 1.2.5.5.1 1 .3 1.3.5.6.6.4 1.7-.2 2.2-.8.8-2.8.5-3.3-.2-.2-.2-.3-.6-.3-1h1.1c.2.2.1.4.4.6.7.5 2.2-.2 1.3-.8-.5-.4-1.9-.3-2.4-.9-.4-.5-.3-1.5.1-1.9.9-1 3.6-.7 3.5 1"
            />
            <path class="st0" d="M87.2 4.8c1.5-.1 2.5.6 2.7 2 .2 1.3-.4 2.8-1.7 3.1-.6.1-1.5.2-2.2-.3-.6-.4-1-1.2-1-2.2 0-1.6.7-2.5 2.2-2.6m.9 4c1-.7.7-3.4-1-3-1.6.4-.8 4.3 1 3" />
            <path class="st0" d="M113.8 7.9v.9c-.4 1.7-4.4 1.6-4.2-.5h1.1c.2.3.2.6.8.7.5.1 1.2 0 1.2-.5 0-.6-.8-.6-1.4-.7-.5-.1-1.1-.4-1.3-.8-1.4-2.4 3.8-3.2 3.7-.8h-.8c-.3-.1-.2-.1-.4-.3-.3-.2-1.4-.5-1.4.2s1.3.6 2 .8c.3.3.5.6.7 1" />
            <path class="st0" d="M64.7 4.9c.6 1.6 1.2 3.3 1.8 4.9h-1.2c-.2-.3-.2-.6-.3-.9h-1.7c-.2.2-.2.6-.4.9h-1.2c.6-1.7 1.2-3.2 1.8-4.9h1.2zm-1.2 3.2c.3.1.9.1 1.2 0-.2-.6-.3-1.2-.6-1.7-.2.5-.4 1.1-.6 1.7" />
            <path class="st0" d="M75.3 5v3.8c.7.1 1.5 0 2.2 0 .1.2 0 .8 0 1h-3.4V5c-.1-.1 0-.1 0-.1.4 0 .9 0 1.2.1" />
            <path class="st0" d="M98.9 4.9c.7 1 1.2 2 1.9 3 .1-.9 0-2.1 0-3 .4 0 .9-.1 1.2 0v4.8c-.3.1-.8 0-1.2 0-.6-1-1.2-2-1.9-3-.1.9 0 2 0 3-.4 0-.9.1-1.2 0 .1-1.6-.1-3.4.1-4.9h1.1z" />
            <path class="st0" d="M51.7 12.1c3.5 7.4 6.9 15 10.3 22.5h-2.9c-.9-1.8-1.7-3.5-2.5-5.3h-9.9c-.8 1.8-1.6 3.5-2.4 5.3h-3c3.5-7.6 7-15 10.4-22.5m-3.6 14.6h7.3c-1.2-2.8-2.3-5.7-3.6-8.4-1.3 2.8-2.6 5.6-3.7 8.4" />
            <path class="st0" d="M65.2 13H68c0 7.2.1 14.5 0 21.6h-2.8c-.1-7.1 0-14.3 0-21.4-.1-.1-.1-.2 0-.2" />
            <path class="st0" d="M75.8 13h2.8v7.9c0 2.7.2 5.5 0 7.9-.2 2.5-1.3 4.7-3 5.5-1.7.9-4.5.2-6.2-.3.2-.9.8-1.5 1.2-2.2.8.3 1.6 1 2.7.7 1.8-.6 2.3-3.1 2.4-5.6.1-2.1 0-4.6 0-7 0-2.5 0-4.9.1-6.8-.1 0-.1-.1 0-.1" />
            <path class="st0" d="M96.6 47.3C91 36 85.8 24.5 80.4 13h4.5c1.4 2.6 2.6 5.3 3.8 8.1 5.2 0 10.4.1 15.6.1 1.1-2.2 2.4-4.8 3.5-7.2.2-.4.3-.9.5-1 .2-.1.8 0 1.1 0h3.3c-.5 1.5-1.3 2.9-1.9 4.3-3.3 7.2-6.8 14.3-10.1 21.3-1.4 3-2.7 5.9-4.1 8.7m-5.7-22.2c1.9 4.3 3.7 8.8 5.8 12.9 1.9-4.3 3.9-8.5 5.7-12.9H90.9z"
            />
            <path class="st0" d="M108.5 28.7c1.9-.2 3.3 1.2 2.9 3.2-.5 3-5.8 2.6-5.3-1.1.3-1.2 1.2-2 2.4-2.1m.5 4.6c1.1-.1 1.8-1.2 1.7-2.4-.1-1-1.1-1.8-2.3-1.6-2.2.5-1.8 4.2.6 4" />
            <path class="st0" d="M107.8 29.9c1.2-.2 2.9.1 2.2 1.3-.1.2-.3.2-.6.3.2.4.5.8.7 1.2-.1.1-.5 0-.7 0-.4-.3-.4-1-.9-1.2-.2.2 0 .8-.1 1.2-.1.1-.5.1-.6 0v-2.8zm.7 1.1c.3 0 .7.1.9-.1.2-.6-.4-.5-.9-.5-.1.2-.1.5 0 .6" />
            <path class="st0" d="M104.4 35.4h8.4c.1.3.1.8 0 1.1-2.9.1-6 0-9 0 .1-.3.4-.8.6-1.1" />
            <path class="st0" d="M0 35.5h88.6c.3.2.5.8.6 1.1H0v-1.1z" />
          </symbol>
          <symbol id="icon-search" viewBox="0 0 42 44">
            <style>
              .st0 {
                fill: #030303
              }
            </style>
            <path class="st0" d="M42 39l-5.1-5.1-4.1-4.1c2.1-2.9 3.3-6.5 3.3-10.4C36.1 9.4 28 1.3 18 1.3S0 9.4 0 19.4s8.1 18.1 18.1 18.1c4.2 0 8-1.4 11-3.8l7 7c.1.1.2.2.3.2l1.9 1.9L42 39zm-23.9-5.8c-7.6 0-13.8-6.2-13.8-13.8S10.5 5.5 18.1 5.5s13.8 6.2 13.8 13.8c0 3.2-1.1 6.1-2.9 8.4-.6.8-1.3 1.5-2 2.1-2.4 2.1-5.5 3.4-8.9 3.4z"
            />
          </symbol>
          <symbol id="icon-vintage-logo" viewBox="0 0 84.1 115.5">
            <style>
              .st0 {
                fill: #c0bfbe
              }
            </style>
            <g>
              <path d="M21.7 0H0l5.1 19.8h21.5z" />
              <path d="M63.2 0L33.7 115.5h21L84.1 0z" />
            </g>
          </symbol>
        </svg>
      </div>
      <!-- picture element HTML5 shiv, push notifications key (example)-->
      <script>
        document.createElement('picture');
        window.applicationServerPublicKey = 'BEd6Q-l-u7MNah6eRBUY9tiqGoWwYEY9auxLrnfq2ZyFyCR3q5g6ZcbbjrHRe0pSK9AT_aVn0a7Hbz43JNpI2CU';
      </script>
      <!-- Preloader-->
      <div class="preloader" id="main-preloader">
        <div class="preloader__container">
          <div class="preloader__block preloader__block-left">
            <div class="preloader__line"></div>
            <div class="preloader__line"></div>
            <div class="preloader__line"></div>
          </div>
          <div class="preloader__block preloader__block-right">
            <div class="preloader__line"></div>
            <div class="preloader__line"></div>
            <div class="preloader__line"></div>
          </div>
          <div class="preloader__logo">
            <svg class="icon-maija-logo ">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-maija-logo"></use>
            </svg>
          </div>
        </div>
        <div class="preloader__curtain preloader__curtain-left"></div>
        <div class="preloader__curtain preloader__curtain-right"></div>
      </div>
      <!-- Header-->
      <header class="header" id="main-header">
        <div class="header__animation_container">
          <div class="header__animation_line header__animation_line-right"></div>
          <div class="header__animation_line header__animation_line-left"></div>
        </div>
        <div class="header__content_container">
          <a class="header__logo" href="/home.html">
            <svg class="icon-maija-logo ">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-maija-logo"></use>
            </svg>
          </a>
          <div class="header__links">
            <div class="header__links_inner">
              <a class="header__link" href="/salons.html">салоны</a>
              <a class="header__link active" href="/services.html">услуги</a>
              <a class="header__link" href="/news.html">новости</a>
              <a class="header__link" href="/look-book.html">look book</a>
              <a class="header__link" href="/02_About-us.html">#maija</a>
              <a class="header__link" href="/franchise.html">франшиза</a>
            </div>
          </div>
          <div class="header__button">
            <div class="btn header__btn-form" data-popup-target="online-record" data-popup-remote="static/json/online-record-3.json">
              <div>
                <div class="btn__bg_animation"></div>
                <div class="btn__dots">
                  <div class="btn__dot"></div>
                  <div class="btn__dot"></div>
                  <div class="btn__dot"></div>
                </div>
                <span class="btn__text">online запись</span>
              </div>
            </div>
          </div>
          <div class="header__burger">
            <div class="header__burger_inner">
              <div class="header__burger_line line-1"></div>
              <div class="header__burger_line line-2"></div>
              <div class="header__burger_line line-3"></div>
              <div class="header__burger_line line-4"></div>
            </div>
          </div>
        </div>
      </header>
      <!-- Main content-->
      <main data-page="shop">
        <!-- Intro section-->
        <section class="main_screen" id="main-screen">
          <div class="ornament_animation ornament_animation-sub ornament_animation-default main_screen__ornament">
            <div class="ornament_animation__inner">
              <div class="ornament_animation__svg">
                <svg class="icon-decor-part1 ">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-decor-part1"></use>
                </svg>
              </div>
              <div class="ornament_animation__svg">
                <svg class="icon-decor-part1 ">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-decor-part1"></use>
                </svg>
              </div>
            </div>
          </div>
          <div class="ornament_animation ornament_animation-sub ornament_animation-default main_screen__ornament-1">
            <div class="ornament_animation__inner">
              <div class="ornament_animation__svg">
                <svg class="icon-decor-part1 ">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-decor-part1"></use>
                </svg>
              </div>
              <div class="ornament_animation__svg">
                <svg class="icon-decor-part1 ">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-decor-part1"></use>
                </svg>
              </div>
            </div>
          </div>
          <div class="main_screen_languages main_screen_languages--grey">
            <div class="main_screen_languages__inner c_dropdown" data-dropdown-mobile-only="true">
              <div class="c_dropdown__title">
                <div class="main_screen_languages__item active">ru</div>
                <div class="arrow"></div>
              </div>
              <div class="c_dropdown__body">
                <div class="c_dropdown__body_inner">
                  <a class="main_screen_languages__item" href="#!">en</a>
                </div>
              </div>
            </div>
          </div>
          <div class="main_screen_socials main_screen_socials--grey">
            <div class="main_screen_socials__inner">
              <div class="main_screen_socials__links">
                <a class="main_screen_socials__item facebook" href="#!" target="_blank">
                  <span>Facebook</span>
                  <svg class="icon-facebook ">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-facebook"></use>
                  </svg>
                </a>
                <a class="main_screen_socials__item instagram" href="#!" target="_blank">
                  <span>Instagram</span>
                  <svg class="icon-instagram ">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-instagram"></use>
                  </svg>
                </a>
              </div>
            </div>
          </div>
          <ul class="breadcrumbs" data-back="Назад">
            <li>
              <a href="https://www.google.com.ua">Главная</a>
            </li>
            <li class="active">
              <span>Магазин</span>
            </li>
          </ul>
          <h1 class="main_screen__title default_heading h1">Магазин</h1>
          <div class="main_screen__text default_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
        </section>
        <!-- Benefits section-->
        <section class="benefits" id="benefits">
          <ul class="benefits__inner items">
            <li class="items__item">
              <div class="items__item-img">
                <img src="static/img/shop-1.png">
              </div>
              <div class="items__item-title">Качественный материалы и проверенные бренды</div>
            </li>
            <li class="items__item">
              <div class="items__item-img">
                <img src="static/img/shop-2.png">
              </div>
              <div class="items__item-title">Подготовьтесь к мероприятию в одном месте</div>
            </li>
            <li class="items__item">
              <div class="items__item-img">
                <img src="static/img/shop-3.png">
              </div>
              <div class="items__item-title">Партнерские цены</div>
            </li>
            <li class="items__item">
              <div class="items__item-img">
                <img src="static/img/shop-1.png">
              </div>
              <div class="items__item-title">Подготовьтесь к мероприятию в одном месте</div>
            </li>
          </ul>
        </section>
        <!-- Products section-->
        <section class="products js-reveal" id="products">
          <div class="section_mark clearfix section_mark--no-animation">
            <div class="section_mark__number_container">
              <div class="ornament_animation ornament_animation-default">
                <div class="ornament_animation__inner">
                  <div class="ornament_animation__svg">
                    <svg class="icon-decor-part1 ">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-decor-part1"></use>
                    </svg>
                  </div>
                  <div class="ornament_animation__svg">
                    <svg class="icon-decor-part1 ">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-decor-part1"></use>
                    </svg>
                  </div>
                </div>
              </div>
              <div class="section_mark__number">01</div>
            </div>
            <div class="section_mark__line"></div>
            <div class="section_mark__text_container">
              <div class="anim_line">
                <div class="anim_line__inner"></div>
              </div>
              <div class="section_mark__text">продукция</div>
            </div>
          </div>
          <div class="ornament_animation ornament_animation-sub ornament_animation-default products__ornament">
            <div class="ornament_animation__inner">
              <div class="ornament_animation__svg">
                <svg class="icon-decor-part1 ">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-decor-part1"></use>
                </svg>
              </div>
              <div class="ornament_animation__svg">
                <svg class="icon-decor-part1 ">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-decor-part1"></use>
                </svg>
              </div>
            </div>
          </div>
          <div class="products__container">
            <div class="products__row">
              <a class="products__item js-reveal" href="#!">
                <div class="products__item-img">
                  <img src="static/img/products-1.png">
                </div>
                <div class="products__item-label">Авторские игрушки, декор и товары для дома</div>
              </a>
              <a class="products__item js-reveal" href="#!">
                <div class="products__item-img">
                  <img src="static/img/products-2.png">
                </div>
                <div class="products__item-label">Товары домашнего ухода ногтевого сервиса</div>
              </a>
              <a class="products__item js-reveal" href="#!">
                <div class="products__item-img">
                  <img src="static/img/products-3.png">
                </div>
                <div class="products__item-label">Товары домашнего ухода для волос</div>
              </a>
            </div>
            <div class="products__row">
              <div class="products__item products__item--text js-reveal">
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
              </div>
              <a class="products__item js-reveal" href="#!">
                <div class="products__item-img">
                  <img src="static/img/products-4.png">
                </div>
                <div class="products__item-label">Товары домашнего ухода для лица и тела</div>
              </a>
              <a class="products__item js-reveal" href="#!">
                <div class="products__item-img">
                  <img src="static/img/products-5.png">
                </div>
                <div class="products__item-label">Одежда и аксессуары</div>
              </a>
            </div>
          </div>
        </section>
      </main>
      <!-- Footer-->
      <footer class="footer" id="main-footer">
        <div class="footer__separate">
          <form class="footer__subscribe" data-url="static/json/subscribe.json">
            <div class="footer__separate_text footer__separate_text-input">Узнайте о выгодных предложениях первыми</div>
            <div class="c_input form-group">
              <label class="c_input__placeholder control-label">Введите ваш e-mail</label>
              <input class="c_input__input form-control" type="email" />
              <button class="footer__btn footer__btn-subscr btn" type="submit">
                <div>
                  <div class="btn__bg_animation"></div>
                  <span class="btn__text">подписаться</span>
                </div>
              </button>
              <div class="help-block c_input__error">Введите корректный e-mail</div>
              <div class="help-block-2 c_input__error">Этот электронный адрес уже существует</div>
            </div>
          </form>
          <div class="footer__socials">
            <div class="footer__separate_text footer__separate_text-social">Давайте дружить</div>
            <div class="footer__socials_item">
              <a href="#!" target="_blank">
                <svg class="icon-instagram ">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-instagram"></use>
                </svg>
              </a>
            </div>
            <div class="footer__socials_item">
              <a href="#!" target="_blank">
                <svg class="icon-facebook ">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-facebook"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="footer__inner">
          <div class="footer__head">
            <div class="footer__logo">
              <svg class="icon-maija-logo ">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-maija-logo"></use>
              </svg>
              <span>Международная сеть салонов красоты</span>
            </div>
            <form class="footer__input_field footer__input_field-search js-fix-static">
              <div class="footer__input_field_title">поиск по сайту</div>
              <div class="c_input form-group">
                <label class="c_input__placeholder control-label">Введите ваш запрос</label>
                <input class="c_input__input form-control" type="text" />
                <button class="footer__btn footer__btn-search" type="submit">
                  <svg class="icon-search ">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search"></use>
                  </svg>
                </button>
              </div>
            </form>
            <div class="footer__input_field footer__input_field-search2">
              <div class="footer__input_field_text">
                <span class="full-tablet">Популярные запросы:&nbsp</span>
                <a href="#!">маникюр,&nbsp</a>
                <a href="#!">укладка волос</a>
              </div>
            </div>
          </div>
          <div class="footer__content">
            <div class="footer__content_block clearfix js-fix-absolute">
              <span>Присоединяйся к нашей команде профессионалов</span>
              <div class="footer__btn footer__btn-form btn" data-popup-target="online-record" data-popup-remote="static/json/online-record.json">
                <div>
                  <div class="btn__bg_animation"></div>
                  <span class="btn__text">заполнить форму</span>
                </div>
              </div>
            </div>
            <div class="footer__content_block clearfix">
              <div class="footer__services footer__links_block">
                <a class="footer__links_title footer__links_title-services" href="#!">услуги</a>
                <a class="footer__links_link" href="#!">Парикмахерские услуги</a>
                <a class="footer__links_link" href="#!">Ногтевой сервис</a>
                <a class="footer__links_link" href="#!">Косметология</a>
                <a class="footer__links_link" href="#!">Визаж</a>
                <a class="footer__links_link" href="#!">Лечение волос</a>
                <a class="footer__links_link" href="#!">Мужчинам</a>
                <a class="footer__links_link" href="#!">Магазин</a>
              </div>
              <div class="footer__services footer__links_block">
                <a class="footer__links_title footer__links_title-salons" href="#!">салоны</a>
                <a class="footer__links_link" href="#!">Maija Плюс</a>
                <a class="footer__links_link" href="#!">Maija Люкс</a>
                <a class="footer__links_link" href="#!">Maija Стиль</a>
                <a class="footer__links_link" href="#!">Maija New</a>
                <a class="footer__links_link" href="#!">Maija Kids</a>
              </div>
            </div>
            <div class="footer__content_block clearfix">
              <div class="footer__partnership">
                <span class="footer__partnership_title">сотрудничество</span>
                <span>Фетисова Ирина</span>
                <span class="footer__partnership_grey">Бренд-менеджер</span>
                <a class="footer__partnership_link" href="tel:(044) 594-95-95">Тел. (044) 594-95-95</a>
                <a class="footer__partnership_link" href="mailto:pr@maija.ua">pr@maija.ua</a>
              </div>
              <div class="footer__links">
                <a href="#!">новости</a>
                <a href="#!">look book</a>
                <a href="#!">#maija</a>
                <a href="#!">франшиза</a>
              </div>
            </div>
          </div>
          <div class="footer__bottom">
            <div class="footer__copyright">Majia © 2016. Копирование информации только со ссылкой на источник.</div>
            <a class="footer__madeby" href="http://vintage.com.ua" target="blank">
              <span>by</span>
              <svg class="icon-vintage-logo ">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-vintage-logo"></use>
              </svg>
            </a>
          </div>
        </div>
      </footer>
      <!-- Online-record popup-->
      <div class="popup popup--record" data-popup-id="online-record" tabindex="-1" role="dialog">
        <div class="popup__container">
          <div class="popup__close">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 21.3 21.3" style="enable-background:new 0 0 21.3 21.3;" xml:space="preserve">
              <rect x="9.6" y="-3.4" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -4.4036 10.6314)" width="2.1" height="28" />
              <rect x="-3.4" y="9.6" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -4.4086 10.6334)" width="28" height="2.1" /> </svg>
          </div>
          <div class="popup__content"></div>
        </div>
      </div>
      <div class="popup popup--record" data-popup-id="online-record" tabindex="-1" role="dialog">
        <div class="popup__container">
          <div class="popup__close">
            <svg id="Layer_1" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewbox="0 0 21.3 21.3" style="enable-background:new 0 0 21.3 21.3;" xml:space="preserve">
              <rect x="9.6" y="-3.4" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -4.4036 10.6314)" width="2.1" height="28"></rect>
              <rect x="-3.4" y="9.6" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -4.4086 10.6334)" width="28" height="2.1"></rect>
            </svg>
          </div>
          <div class="popup__content popup__content--form popup__content--form-4">
            <div class="popup__title">Ждем Вас!</div>
            <div class="popup__body">
              <div class="popup__row">
                <span>18.08.2017</span>
                <span>в</span>
                <span>15:40</span>
              </div>
              <div class="popup__row">
                <span>Салон:</span>
                <span>MAIJA СТИЛЬ (ул. Бастионная, 8/2)</span>
              </div>
              <div class="popup__row">
                <span>Услуга:</span>
                <span>Парикмахерские услуги</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Scripts-->
    <script src="static/js/index.jquery.js"></script>
    <script src="static/js/index.js"></script>
  </body>
</html>
